<h1>Treasure Data Social Grader</h1>
<p>Enter the URL. We go and fetch the social stats for the links on the page</p>
<form type="GET" action="/stats">
  <label for="u">URL to look for links: <input type="textarea" id="u" name="u"/></label>
  <input type="submit" value="Get Stats"/>
</form>
