<form type="GET">
  <label for="url">URL to look for links: <input type="textarea" /></label>
  <label for="email">URL to look for links: <input type="email" /></label>
  <input type="submit" value="Get Stats"/>
</form>
