<!DOCTYPE html>
<html>
  <head>
    <title>Social Grader | Treasure Data</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <%=yield%>
  </body>
</html>
