<table id="t" border="2px" width="600">
  <th>
    <td>title</td><td>fb likes</td><td>tweets</td><td>linkedin</td><td>hatebu</td>
  </th>
</table>

<script>
function render_row(data) {
  var t = document.getElementById('t');
  var row = t.insertRow(0);
  row.innerHTML = '<td><a href="'+data.url+'"><td>'+data.title+'</td><td>'+data.facebook+'</td><td>'+data.twitter+'</td><td>'+data.linkedin+'</td><td>'+data.hatebu+'</td>';
}

function get_json(url) {
  var request = new XMLHttpRequest();
  request.open('GET', '/json?u='+url, true);
  request.onload = function() {
    if (request.status == 200) {
      var data = JSON.parse(request.responseText);
      render_row(data)
    } else {
      console.log('bad response')
    }
  };
  request.send();
};
<% @links.each do |link| %>
get_json('<%=link%>');
<% end %>
</script>
